*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body{
  background-image: url(images/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.big-container{
  margin: 30px 375px 150px 250px;
  width: 1000px;
  height:680px;
  background-color:black;
  opacity: 0.5;
  border-radius:10px;
}
.logo{
  margin:10px 50px 0 50px;
}
img{
  margin:100px 400px 0 380px;
}
#text{
  color:#00bb2d;
  text-align: center;
  font-size:30px;
  font-family: 'Roboto', sans-serif;
}
.nav-option{
  height:40px;
  background-color:#00bb2d;
  text-align: center;
  padding:10px 0 10px 0;
  margin:0 80px;
}
span{
  margin:0 2px;
}
.section-1{
  width:300px;
  height:100px;
  margin:5px 80px;
  color:white;
  display: inline-block;
}
#gino-22, #mike-24, #fede-154{
  display:inline-block;
  font-size:20px
}
#carica-gino{
  width:280px;
  height:20px;
  background:orange;
  border-radius:3px;
}
#carica-mike{
  width:500px;
  height:20px;
  background:green;
  border-radius:3px;
}
#carica-fede{
  width:150px;
  height:20px;
  background:red;
  border-radius:3px;
}
